/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.swp
*.jar
*.class
/.lein-*
/logs
/.nrepl-port
.hgignore
.hg/
.idea/
*.iml
documentation/site/
site/
tags
/plugins
/java-agents
newrelic.yml
dist/
restql-*.zip
.classpath
.project
.settings/

