<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="File" bufferedIO="true" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Console name="Stdout" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>        </Console>
        <Async name="AsyncFile">
            <AppenderRef ref="File"/>
        </Async>
        <Async name="AsyncStdout">
            <AppenderRef ref="Stdout"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="AsyncFile" />
            <AppenderRef ref="AsyncStdout" />
        </Root>
    </Loggers>
</Configuration>