.navbar {
    margin-bottom: 0px;
    background-color: #fff;
}

.navbar img, .navbar object {
    margin: 0px;
    padding: 10px;
}

.navbar .btn {
    margin-left: 4px;
}

.CodeMirror {
    height: 500px;
    border: 1px solid #e0e0e0;
}